.dawn-alert {
  background-color: var(--dawn-control-background);
  padding: 10px 30px;
  border-radius: var(--dawn-border-radius);
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.dawn-alert-title {
  font-weight: bold;
  font-size: 2em;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dawn-alert-content {
  flex: 1;
  word-break: normal;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

body:has(#root .dawn-fullscreen) {
  overflow: hidden;
}
