.dawn-button {
  border-radius: var(--dawn-control-border-radius);
  border-style: solid;
  border-width: 1px;
  border-color: var(--dawn-control-border);

  padding: 5px 7px;

  cursor: pointer;

  color: white;

  transition: var(--dawn-hover-transition);
}

.dawn-button-round {
  border-radius: 100px;
  min-width: 48px;
}

.dawn-button-circle {
  width: 48px;
  height: 48px;
  border-radius: 100px;

  font-size: 1.5em;
}

.dawn-inherit-bg,
.dawn-button {
  border: none;
}

.dawn-button.dawn-active {
  background-color: var(--dawn-control-focus);
}

:is(.dawn-button:disabled):is(.dawn-button:disabled, .dawn-button:hover) {
  background-color: var(--dawn-control-disabled);
  color: #555;
  cursor: not-allowed;
}
