body.dawn-theme-transparent {
  /* ----- Colors ----- */
  --dawn-root-background: #222;
  --dawn-root-color: #fff;

  --dawn-control-background: #333333aa;
  --dawn-control-hover-background: #555555aa;
  --dawn-control-border: #444444;

  --dawn-control-background-2: #2a2a2aaa;

  --dawn-popup-background: #111;

  --dawn-control-danger: #770000;
  --dawn-control-text-danger: white;
  --dawn-control-hover-danger: #cc0000;
  --dawn-text-danger: #ff0000;

  --dawn-control-success: #00a800;
  --dawn-control-text-success: black;
  --dawn-control-hover-success: #00ff00;
  --dawn-text-success: #00ff00;

  --dawn-control-link: #18e6f5;

  --dawn-accent: #c3b1e1;
  --dawn-accent-text: white;

  /* ----- Values ----- */
  --dawn-hover-transition: 0.2s;
  --dawn-border-radius: 20px;
  --dawn-control-border-radius: 5px;
  --dawn-flex-gap: 20px;
  --dawn-page-width: 60%;

  .dawn-alert {
    --dawn-control-background: #333333;
  }
}
