.dawn-alert {
  background-color: var(--dawn-control-background);

  padding: 20px 30px;

  border-radius: var(--dawn-border-radius);

  min-width: 300px;
  max-width: 500px;
  min-height: 100px;

  display: flex;
  flex-direction: column;
}

.dawn-alert-content {
  flex: 1;
  word-break: normal;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
