.dawn-text-page-title {
  display: block;

  font-weight: bolder;
  font-size: 1.5em;

  margin: 10px;
}

.dawn-text-container-title {
  display: block;

  font-size: 1.3em;
  font-weight: bold;

  margin-bottom: 10px;
}

.dawn-text-navbar {
  display: block;

  font-size: 1.5em;
  font-weight: bold;
}

.dawn-text-alert-title {
  display: block;

  text-align: center;

  font-size: 1.3em;
  font-weight: bold;
}

.dawn-text-banner {
  display: block;
  font-size: 2.5em;
  font-weight: bolder;
}

small {
  color: gray;
  font-size: 0.8em;
}

/* ----- Links ----- */
.dawn-link {
  color: var(--dawn-control-link);
}

.dawn-link-no-highlight {
  color: var(--dawn-root-color);
  text-decoration: none;

  cursor: pointer;
}
